<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="verify-v1" content="67n+nPJs4mC+uAQbLXr0ophSgmKtFBBoLY+SpVaSeKM=" />

<title>Hertingfordbury Parish</title>

<meta name="description" content="Hertingfordbury local information including the Parish Council and the Parish News produced by St Mary's PCC. Hertingfordbury is a small parish outside of the town of Hertford in Hertfordshire, England." />
<meta name="keywords" content="Hertingfordbury,Hertfordshire,Parish Council,Parish News,St Mary's Church,St John's Church" />
<meta name="title" content="Hertingfordbury Parish Website" />
<meta name="distribution" content="Global" />
<meta name="author" content="Hertingfordbury Parish Council and St Mary's PCC" />
<meta name="robots" content="index,follow" />

<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>

<link href="/stylesheet.css" rel="stylesheet" type="text/css" />
<link href="/navbar.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="container">
	<div id="logo">
		<h1><a href="/"><img src="/image/logo.jpg" title="Hertingfordbury Parish" alt="Hertingfordbury Parish" width="710" height="240" border="0" /></a></h1>
	</div>

	<div id="menu" class="menu">
		<ul>
			<li><a href="/">Home<!--[if IE 7]><!--></a><!--<![endif]-->
				<!--[if lte IE 6]></td></tr></table></a><![endif]-->
			</li>

			<li><a href="/parish-council">Parish Council<!--[if IE 7]><!--></a><!--<![endif]-->
				<!--[if lte IE 6]><table><tr><td><![endif]-->
				<ul>
					<li><a class="first" href="/parish-council">Introduction</a></li>
					<li><a href="/parish-council/who-we-are">Who We Are</a></li>
					<li><a href="/parish-council/what-we-do">What We Do</a></li>
					<li><a href="/parish-council/when-and-where-we-meet">When and Where We Meet</a></li>
					<li><a href="/parish-council/special-responsibilities">Special Responsibilities</a></li>
					<li><a href="/parish-council/recycling">Recycling</a></li>
					<li><a href="/parish-council/contact">Contact</a></li>

					<li><a href="/parish-council/parish-boundary">Parish Boundary</a></li>
					<li><a href="/parish-council/minutes">Previous Minutes</a></li>
					<li><a href="/parish-council/policies">Council Policies</a></li>
				</ul>
				<!--[if lte IE 6]></td></tr></table></a><![endif]-->
			</li>

			<li><a href="/parish-news">Parish News<!--[if IE 7]><!--></a><!--<![endif]-->
				<!--[if lte IE 6]><table><tr><td><![endif]-->
				<ul>
					<li><a class="first" href="/parish-news">Introduction</a></li>

					<li><a href="/parish-news/sunday-service">Sunday Service</a></li>
				</ul>
				<!--[if lte IE 6]></td></tr></table></a><![endif]-->
			</li>

			<li><a href="/history">History<!--[if IE 7]><!--></a><!--<![endif]-->
				<!--[if lte IE 6]></td></tr></table></a><![endif]-->
			</li>

			<li><a href="/link">Links<!--[if IE 7]><!--></a><!--<![endif]-->
				<!--[if lte IE 6]></td></tr></table></a><![endif]-->
			</li>
		</ul>
	</div>

	<div id="content">
		{{ content }}
		<br />
		<div id="footer">
			Website designed, hosted and supported by <a href="http://www.infoweb.co.uk/" target="_blank">infoWEB</a> -
			Valid <a href="http://validator.w3.org/check?uri=referer">XHTML</a> and
			<a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a>
		</div>
	</div>
</div>

<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>

<script type="text/javascript">
	var pageTracker = _gat._getTracker("UA-893499-7");
	pageTracker._trackPageview();
</script>
</body>
</html>
